:root {

  /* initial colour and size set - for 576px or smaller */
  --mobile-bordr-color: rgb(138, 66, 255);
  --mobile-bordr-style: dashed;
  --mobile-bordr-width: 1px;
  --mobile-border-radius: 7x;
  --mobile-bckgrnd: rgb(0, 0, 0);
  --mobile-color: rgb(255, 255, 255);
  --mobile-header-color: rgb(85, 77, 77);
  --mobile-anchor-color: #ed8df1;
  --mobile-headings-color: rgb(255, 255, 255);
  --mobile-shaddow-color: rgb(84, 0, 240);



  /* desktop size min 992px */
  --main-bordr-color: rgb(151, 95, 255);
  --main-bordr-style: solid;
  --main-bordr-width: medium;
  --main-border-radius: 3px;
  --main-bckgrnd: rgb(53, 44, 128);
  --main-color: rgb(128, 17, 255);
  --main-card-bckgrnd: lightgrey;
  --main-anchor-color: blue;
  --main-headings-color: rgb(87, 70, 107);
}

html {
  /* CLASS NOTE: set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) OR 4rem = 40px (4 * 10px) */
  font-size: 62.5%;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--mobile-color);
  background-color: var(--mobile-bckgrnd);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 0.9rem;
  color: var(--mobile-headings-color);
  font-weight: 900;
  line-height: 1.2;
}

header {
  width: 96%;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
  border: 6px solid white;
  background: var(--mobile-header-color);
}

nav {
  margin-top: 12px;
}

nav li {
  display: block;
  padding: 10px;
  margin: 0.25rem;
  border-color: var(--mobile-bordr-color);
  border-style: var(--mobile-bordr-style);
  border-width: var(--mobile-bordr-width);
  background: var(--mobile-bckgrnd);
  color: var(--mobile-color);
}



p {
  margin: 0 auto;
  padding: 20px;
  border-color: var(--main-bordr-color);
  border-style: dotted;
}